# Strings Revision

In [1]:
# string immutable
# string itaerable

In [5]:
str1 = 'annu'

In [6]:
id(str1)

2495506335984

In [7]:
str1+='k'
# str1 = str1 + 'k'

In [8]:
str1

'annuk'

In [9]:
id(str1)

2495507017072

In [11]:
for i in len(str1):
    print(i)

TypeError: 'int' object is not iterable

In [23]:
for i in range(len(str1)):
    print(str1[i])

a
n
n
u
k

# slicing

In [26]:
str1[0:]

'annuk'

In [27]:
str1[1:]

'nnuk'

In [28]:
str1[:3]

'ann'

In [31]:
str1[3:4]

True

In [30]:
str1[3]

'u'

In [38]:
str2 = 'kfdufsdfsdjfhwf wefudsfndskhsdd cudscdyhwes cusdcbsd csdcjnsc scmc shc'

In [39]:
str2[-1]

'c'

In [40]:
str2[-3]

's'

In [43]:
str2[len(str2)-1]

'c'

# Striding

In [44]:
# str1 [start: stop: stride]

In [45]:
str1 = "Annu ko sardi hai"

In [46]:
str1[::2]

'An osrihi'

In [47]:
str2 = '0123456789'

In [48]:
str2[::2]

'02468'

In [49]:
#print all odd index using striding

In [50]:
str2[1::2]

'13579'

In [51]:
str2[::-1]

'9876543210'

In [52]:
str1[::-1]

'iah idras ok unnA'

# split string

In [75]:
str1 = "Annu ko,shardi;ho gaay,hai"

In [55]:
l1 = str1.split(' ')

In [56]:
#practical

In [65]:
# inp = input().split(' ')

1 kunal annu

In [70]:
# type(inp)

list

In [77]:
str1.split(',')

['Annu ko', 'shardi;ho gaay', 'hai']

In [78]:
ip = '127.0.0.1:8888'
ip.split(':')

['127.0.0.1', '8888']

# Assignment to complete from W3school, geeks for geeks, stackoverflow

### 3) Replace String
### 4) Remove Whitespace
### 5) Lower Case
### 6) Upper Case

# Impliment Striding using for loop Assignment
### Q1 reverse the string

# Assignment Impliment striding using for loop
### Q2 split the port number from ip given ip-address 
#### ip = "127.0.0.1:4444"
### Q3 convert each "." to "[.]" in given ip address
#### ex: "127.0.0.1:4444" ---> "127[.]0[.]0[.]1:4444"