In [5]:
str1 = input().split(' ')

2 3 53

In [11]:
for i in str1:
    if int(i) > 10:
        print(type(i),i,' this is string')
    else:
        print(type(int(i)),int(i),'this is integer value')

<class 'int'> 2 this is integer value
<class 'int'> 3 this is integer value
<class 'str'> 53  this is string

# Tuple

In [16]:
t1 = (1,2,5,8,'J','Annu',None)

In [17]:
type(t1)

tuple

In [18]:
#invalid operations in tuple

In [19]:
t1[0] = 3

TypeError: 'tuple' object does not support item assignment

In [21]:
id(t1)

1974608750144

In [ ]:
# therfore tuple is immutable

In [22]:
#iterable

In [23]:
for i in t1:
    print(i)

1
2
5
8
J
Annu
None

# dictionary

In [12]:
# key value pair

In [13]:
l = [1,2,3] #0 indexing ka matlab hota ki 1st value is zero

In [14]:
ditc1 = dict()
dict2 = {'Annu':'Value','Laptop':23,0:'Sardi'} # dict {Key: Value}

[1, 2, 3]

In [15]:
# what is the eligibility criteria to become a key

In [ ]:
immutable , non-iterable

In [ ]:
#immutable --> String, int, float, bool, None, tuple etc
#mutable --> list, set, dict

In [26]:
dict1 = {2:[2,3],'Annu':(5,'K'),None:dict(),True:set(),False:'',20.2:'A'}

In [27]:
dict1

{2: [2, 3], 'Annu': (5, 'K'), None: {}, True: set(), False: '', 20.2: 'A'}

In [33]:
dict2 = {1:2,3:4,5:'K','Annu':'TCS'}

In [30]:
dict2[5]

'K'

In [31]:
dict2[3]

4

In [34]:
dict2['Annu']

'TCS'